.wrapper {
    container-type: inline-size;

    width: 100%;
    max-width: 600px;
    min-width: 400px;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;

    border: 1px solid rgba(255, 255, 255, 1.0);
    border-radius: 0.5rem;

    padding: 0.6rem;
}

.title {
    font-size: 1.2rem;
    font-weight: bold;
    word-wrap: break-word;
    color: rgba(255, 255, 255, 1.0);

    padding: 0rem;
    margin: 0rem;
}

.text {
    font-size: 1.1rem;
    color: rgba(255, 255, 255, 1.0);

    padding: 0rem;
    margin: 0rem;
}

.dates {
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
}

.date-string {
    font-size: 0.9rem;
    color: rgba(255, 255, 255, 1.0);

    padding: 0rem;
    margin: 0rem;
}

.comments-information-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1.0rem;
}

.comment-count {
    font-size: 1.0rem;
    color: rgba(255, 255, 255, 1.0);

    padding: 0rem;
    margin: 0rem;
}

.edit-and-delete-buttons-container {
    grid-area: 2 / 2 / 3 / -1;

    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

.edit-button,
.delete-button {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    gap: 0.2rem;

    font-size: 0.9rem;
    color: rgba(255, 255, 255, 1.0);
}