.wrapper {
    container-type: inline-size;

    width: 100%;
    max-width: 1000px;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 0.5rem;

    width: auto;
    padding: 1.0rem;
}

.close-button-and-requirement-message {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
}

.requirement-message {
    color: rgba(255, 255, 255, 1.0);
    font-size: 0.85rem;
    font-weight: normal;

    padding: 0rem;
    margin: 0rem;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}

.title {
    width: 30%;
    min-width: 200px;
}

.title,
.text {
    color: rgba(255, 255, 255, 1.0);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title input {
    height: 1.4rem;
}

.text textarea {
    height: 10rem;
    resize: none;
}

.title input,
.text textarea {
    color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.92);

    border: none;
    border-radius: 0.3rem;
    outline: 1px solid rgba(255, 255, 255, 1.0);

    width: auto;
}

.title input:focus,
.text textarea:focus {
    background-color: rgba(255, 255, 255, 0.7);

    outline: 2px solid rgba(255, 255, 255, 1.0);
}

.submit-button {
    color: rgb(0, 0, 0);
    font-size: 0.9rem;
    background-color: rgba(255, 255, 255, 1.0);

    border: none;
    border-radius: 0.3rem;
    outline: 1px solid rgba(255, 255, 255, 1.0);

    width: 100%;
    max-width: 10rem;
    height: 2rem;
}

.submit-button:focus {
    background-color: rgba(214, 214, 214, 1.0);

    outline: 2px solid rgba(255, 255, 255, 1.0);
}

.submission-errors {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}

.error-title {
    color: rgba(255, 255, 255, 1.0);
    font-weight: normal;

    padding: 0rem auto;
    margin: 0rem;
}

.error-list {
    color: rgba(255, 255, 255, 1.0);
    
    padding: 0rem auto;
    margin: 0rem;
}

.error-item {
    color: rgba(255, 255, 255, 1.0);
}